.center {
  text-align: center;
  font-size: x-large;
  font-weight: 800;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto;
}

/*container {
  display: flex;
  justify-items: center;
  width: auto;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}*/
