.grid {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  background-color: #00512c;
  justify-content: space-evenly;
}

.grid_item1 {
  grid-column: 1 / 4;
}

#kitty {
  margin: 100px;
  display: flex;
  flex-direction: row;
}

.new_round_button {
  display: none;
}